In [1]:
import requests
import pandas as pd
import json
import numpy as np

In [ ]:
# import json

# # Open and load the JSON file
# with open('Dublin.json', 'r') as file:
#     data = json.load(file)

# # Now 'data' is a dictionary, and you can access its elements
# print(data["items"])

In [ ]:
# https://api.github.com/search/users?q=location:Dublin+followers:>50

In [ ]:
# user_ids=[]
# for i in data["items"]:
#     user_ids.append(i["login"])

In [ ]:
len(user_ids)

In [ ]:
# def get_github_user_details():
#     url = "https://api.github.com/search/users?q=location:Dublin+followers:>50"
#     response = requests.get(url)

#     if response.status_code == 200:
#         user_data = response.json()
#         return user_data["items"]
#         # Extract specific details
#         # user_details = {
#         #     "login": user_data.get("login"),
#         #     "id": user_data.get("id"),
#         #     "avatar_url": user_data.get("avatar_url"),
#         #     "url": user_data.get("url"),
#         #     "html_url": user_data.get("html_url"),
#         #     "name": user_data.get("name"),
#         #     "company": user_data.get("company"),
#         #     "blog": user_data.get("blog"),
#         #     "location": user_data.get("location"),
#         #     "bio": user_data.get("bio"),
#         #     "public_repos": user_data.get("public_repos"),
#         #     "followers": user_data.get("followers"),
#         #     "following": user_data.get("following")
#         # }
        
#         # return user_details
#     else:
#         return f"User not found, status code: {response.status_code}"

# # Example usage
# # username = "octocat"  # Replace with the desired GitHub username
# # user_details = get_github_user_details(username)

# # # Print user details
# # print(user_details)

In [ ]:
# user_details= get_github_user_details()
# user_details

In [ ]:
# len(user_details)

In [2]:
df=pd.read_csv("users.csv")

# Question 1

In [3]:
sorted_df = df.sort_values(by=['followers'], ascending=False)

In [4]:
sorted_df

,Unnamed: 0,id,login,name,company,location,email,hireable,bio,public_repos,followers,following,created_at
0,0,49038,orta,Orta Therox,NaN,Huddersfield / NYC / Dublin / Rio de Janeiro,git@orta.io,NaN,Tech on @puzzmo-com \r\n\r\nEx-TypeScript. Con...,952,6017,109,2009-01-24 20:40:31+00:00
1,1,252962,jeromeetienne,Jerome Etienne,MAKING WEBAR A REALITY,"Dublin, Ireland",jerome.etienne@gmail.com,True,Making WebAR a reality - Around Javascript and...,301,2781,15,2010-04-26 11:58:29+00:00
2,2,35742643,jonataslaw,Jonny Borges,IRIS,"Dublin, Ireland",NaN,True,VP of Engineering from Iris Finance.\r\nDevelo...,272,2689,17,2018-01-23 19:17:15+00:00
3,3,45212,steventroughtonsmith,Steven Troughton-Smith,HIGH CAFFEINE CONTENT,"Dublin, Ireland",NaN,NaN,NaN,98,1984,4,2009-01-08 23:51:31+00:00
4,4,20340,axic,Alex Beregszaszi,ETHEREUM @IPSILON @SPEARBIT @ETHEREUMJS,"Dublin, Ireland",NaN,True,Works on decentralised stuff.\r\n\r\neipnft:ax...,143,1805,5,2008-08-11 23:38:10+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,473,31554168,flaree,Jamie,MASTERCARD,Dublin,NaN,NaN,Software Developer @ Mastercard | DCU CASE Gra...,45,51,47,2017-09-01 23:08:45+00:00
470,470,1819370,patrickjquinn,Pat Quinn,PATRICKJMQ,Dublin,NaN,NaN,Contextual systems are a serious fascination o...,32,51,7,2012-06-05 13:50:18+00:00
474,474,58437550,CarolinaCobo,Carolina Cobo,WORKDAY,Dublin,NaN,NaN,Frontend Software Engineer,44,51,23,2019-12-02 16:18:40+00:00
475,475,585609,gagomes,Goncalo Gomes,AMAZON,"Dublin, Ireland",NaN,True,NaN,35,51,286,2011-01-27 00:14:00+00:00
476,476,24976693,nakitamccool,Nakita McCool,NaN,"Dublin, Ireland",nakitamccool@gmail.com,NaN,NaN,54,51,6,2017-01-07 15:23:23+00:00

In [31]:
# import requests

# def fetch_github_users_in_dublin(min_followers=50, per_page=30, token=None):
#     base_url = "https://api.github.com/search/users"
#     query = f"location:dublin+followers:>{min_followers}"
#     page = 1
#     users = []
#     headers = {}
#     if token:
#         headers["Authorization"] = f"token {token}"
#     while True:
#         url = f"{base_url}?q={query}&per_page={per_page}&page={page}"
#         response = requests.get(url, headers=headers)
#         if response.status_code != 200:
#             print(f"Error fetching data: {response.status_code}")
#             break
#         data = response.json()
#         if "items" in data:
#             users.extend(data["items"])
#         else:
#             break
#         if len(data["items"]) < per_page:
#             break
#         page += 1
#     return users

# # Example usage
# personal_token = "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"  # Replace with your actual GitHub token
# dublin_users = fetch_github_users_in_dublin(min_followers=50, token=personal_token)
# # Print the total number of users fetched
# # print(f"Total| users found: {len(dublin_users)}")

# # # Display details of the first 5 users
# # for user in dublin_users[:5]:
# #     print(f"Username: {user['login']}, Profile: {user['html_url']}")

In [ ]:
# dublin_users

In [67]:
# # import requests
# # personal_token = "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"
# def clean_company_name(company_name):
#     """Clean the company name by removing whitespace, stripping '@', and converting to uppercase."""
#     if company_name:
#         return company_name.strip().lstrip('@').upper()
#     return None

# def get_github_user_details(login, token=None):
#     url = f"https://api.github.com/users/{login}"
#     headers = {}
    
#     # Optional: Add authentication token to avoid rate limits
#     if token:
#         headers["Authorization"] = f"token {token}"

#     response = requests.get(url, headers=headers)
    
#     if response.status_code != 200:
#         print(f"Error fetching data for user {login}: {response.status_code}")
#         return None

#     # Parse JSON response
#     data = response.json()

#     # Extract relevant details and clean up the company name
#     user_details = {
#         "id":data.get("id"),
#         "login": data.get("login"),
#         "name": data.get("name"),
#         "company": clean_company_name(data.get("company")),
#         "location": data.get("location"),
#         "email": data.get("email"),
#         "hireable": data.get("hireable"),
#         "bio": data.get("bio"),
#         "public_repos": data.get("public_repos"),
#         "followers": data.get("followers"),
#         "following": data.get("following"),
#         "created_at": data.get("created_at")
#     }

#     return user_details
# users_full_details=[]
# for i in dublin_users:
#     users_full_details.append(get_github_user_details(i["login"], token=personal_token))
    
# # # Example usage:
# # login = "octocat"  # Replace with the actual GitHub user login
# # personal_token = "your_personal_access_token_here"  # Optional, use your personal token

# # user_info = get_github_user_details(login, token=personal_token)

# # if user_info:
# #     print("GitHub User Details:")
# #     for key, value in user_info.items():
# #         print(f"{key}: {value}")

In [68]:
# df=pd.DataFrame(users_full_details)

In [49]:
# len(df)

In [50]:
# df.sort_values(by="followers",ascending=False)["login"].head()

# Question 2

In [5]:
df["created_at"]=pd.to_datetime(df["created_at"])
df.sort_values(by="created_at",ascending=True)["login"].head()

75         paulca
446        adrian
85     GavinJoyce
74           amir
440     ciaranlee
Name: login, dtype: object

In [98]:
# df["hireable"].replace(None,"",inplace=True)
# df.to_csv("users.csv")

In [19]:
# personal_token = "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"
# def fetch_user_repositories(token, login):
#     headers = {'Authorization': f'token {token}'}
#     url = f'https://api.github.com/users/{login}/repos?per_page=100&sort=pushed'
    
#     all_repos = []
#     page = 1
    
#     while True:
#         response = requests.get(url + f'&page={page}', headers=headers)
        
#         if response.status_code != 200:
#             print(f'Error fetching data for {login}: {response.status_code}')
#             return None
        
#         repos = response.json()
#         if not repos:
#             break  # No more repositories
        
#         for repo in repos:
#                 repo_info = {
#                     # 'login': login,
#                     'full_name': repo['full_name'],
#                     'created_at': repo['created_at'],
#                     'stargazers_count': repo['stargazers_count'],
#                     'watchers_count': repo['watchers_count'],
#                     'language': repo['language'],
#                     'has_projects': repo['has_projects'],
#                     'has_wiki': repo['has_wiki'],
#                     # 'license_name': repo.get('license.key')
#                     'license_name': repo.get('license', {})  # Accessing license.key
#             }
#             # if repo_info["license_name"]!=None:
#             #     # repo_info["license_name"]=repo_info["license_name"].key()
#             #     repo.get('license', {}).get('key', 'No License').key
#                 repo_info["login"]=login
#                 all_repos.append(repo_info)

#         page += 1
#         if len(all_repos) >= 500:  # Limit to 500 repositories
#             break
#         return all_repos
# # fetch_user_repositories(personal_token, "orta")
# repos=[]
# for i in df["login"]:
#     repos.extend(fetch_user_repositories(personal_token, i))
# repo_df=pd.DataFrame(repos)

In [26]:
repo_df=pd.read_csv("repositories.csv")
repo_df.head()

,Unnamed: 0,full_name,created_at,stargazers_count,watchers_count,language,has_projects,has_wiki,license_name,login
0,0,orta/vscode-twoslash-queries,2022-06-07T12:47:07Z,426,426,TypeScript,True,True,MIT License,orta
1,1,orta/redwood,2021-06-09T11:30:44Z,0,0,NaN,True,True,MIT License,orta
2,2,orta/typescript-web-extension,2020-07-20T17:12:31Z,21,21,JavaScript,True,True,NaN,orta
3,3,orta/orta.github.com,2010-12-27T18:55:42Z,12,12,JavaScript,True,False,NaN,orta
4,4,orta/redwood-vite-api,2024-08-17T14:43:20Z,3,3,TypeScript,True,True,NaN,orta

In [24]:
repo_df.isna().sum()

Unnamed: 0              0
full_name               0
created_at              0
stargazers_count        0
watchers_count          0
language             7173
has_projects            0
has_wiki                0
license_name        13884
login                   0
dtype: int64

In [27]:
repo_df["has_projects"].replace(True,"true",inplace=True)
repo_df["has_projects"].replace(False,"false",inplace=True)

C:\Users\Hitesh\AppData\Local\Temp\ipykernel_12004\822398861.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  repo_df["has_projects"].replace(True,"true",inplace=True)

In [34]:
repo_df.head()

,Unnamed: 0,full_name,created_at,stargazers_count,watchers_count,language,has_projects,has_wiki,license_name,login
0,0,orta/vscode-twoslash-queries,2022-06-07T12:47:07Z,426,426,TypeScript,true,True,MIT License,orta
1,1,orta/redwood,2021-06-09T11:30:44Z,0,0,NaN,true,True,MIT License,orta
2,2,orta/typescript-web-extension,2020-07-20T17:12:31Z,21,21,JavaScript,true,True,NaN,orta
3,3,orta/orta.github.com,2010-12-27T18:55:42Z,12,12,JavaScript,true,False,NaN,orta
4,4,orta/redwood-vite-api,2024-08-17T14:43:20Z,3,3,TypeScript,true,True,NaN,orta

In [33]:
# repo_df["license_name"][0]

'MIT License'

In [30]:
# import ast
# def map_function(column):
#     l=[]
#     for license_str in column:
#         if(i!= None):
#             license_dict = ast.literal_eval(license_str)
#             license_key = license_dict.get('name')
#             l.append(license_key)
#             # print(license_key)
#         else:
#             l.append(None)
    # return l

In [35]:
# name_list=[]
# for i in repo_df["license_name"]:
#     if i!= None:
#         name_list.append(i[])
#     else:
#         name_list.append(None)
# repo_df["license_name"]=name_list

In [144]:
# repo_df.drop("extracted_license_name",axis=1,inplace=True)

In [36]:
# repo_df.to_csv("repositories.csv")

# Question 3

In [155]:
repo_df["license_name"].value_counts()

license_name
MIT License                                                   7206
Apache License 2.0                                            2580
Other                                                         2010
GNU General Public License v3.0                                921
BSD 3-Clause "New" or "Revised" License                        558
GNU General Public License v2.0                                318
GNU Affero General Public License v3.0                         178
BSD 2-Clause "Simplified" License                              166
Creative Commons Zero v1.0 Universal                           162
Mozilla Public License 2.0                                     139
The Unlicense                                                  138
Creative Commons Attribution 4.0 International                  86
GNU Lesser General Public License v3.0                          64
ISC License                                                     61
Creative Commons Attribution Share Alike 4.0 International      50
GNU Lesser General Public License v2.1                          43
Eclipse Public License 1.0                                      41
MIT No Attribution                                              25
Do What The F*ck You Want To Public License                     23
Open Software License 3.0                                       18
BSD Zero Clause License                                         10
Eclipse Public License 2.0                                       6
Boost Software License 1.0                                       5
zlib License                                                     4
European Union Public License 1.2                                4
SIL Open Font License 1.1                                        3
Microsoft Public License                                         3
Artistic License 2.0                                             3
LaTeX Project Public License v1.3c                               1
BSD 4-Clause "Original" or "Old" License                         1
Open Data Commons Open Database License v1.0                     1
Universal Permissive License v1.0                                1
Academic Free License v3.0                                       1
Microsoft Reciprocal License                                     1
Name: count, dtype: int64

In [38]:
df.columns

Index(['Unnamed: 0', 'id', 'login', 'name', 'company', 'location', 'email',
       'hireable', 'bio', 'public_repos', 'followers', 'following',
       'created_at'],
      dtype='object')

In [51]:
repo_df.columns

Index(['Unnamed: 0', 'full_name', 'created_at', 'stargazers_count',
       'watchers_count', 'language', 'has_projects', 'has_wiki',
       'license_name', 'login'],
      dtype='object')

# Question 5

In [53]:
repo_df["language"].value_counts()

language
JavaScript    4547
Python        2765
Java          1896
HTML          1206
Go            1009
              ...
Blade            1
eC               1
Scilab           1
Pony             1
Pawn             1
Name: count, Length: 170, dtype: int64

In [54]:
# Calculate mean stargazers count grouped by language and sort in descending order
average_stargazers = repo_df.groupby("language")["stargazers_count"].agg("mean").sort_values(ascending=False)

print(average_stargazers)

language
MDX            4347.000000
CMake          1239.900000
AGS Script      217.333333
Dart             81.512821
Vim Script       78.411765
                  ...
Vim Snippet       0.000000
WebAssembly       0.000000
mupad             0.000000
nesC              0.000000
wdl               0.000000
Name: stargazers_count, Length: 170, dtype: float64

repo_df.head()

# Question 8

In [55]:
df["leader_strength"]=df["followers"]/(1+df["following"])

In [56]:
df.sort_values(by="leader_strength",ascending=False)

,Unnamed: 0,id,login,name,company,location,email,hireable,bio,public_repos,followers,following,created_at,leader_strength
6,6,1374362,flaviohenriquealmeida,Flavio Henrique de Souza Almeida,NaN,"Dublin, Ireland",NaN,NaN,"Front End Tech Lead, father, speaker, publishe...",61,1314,0,2012-01-24 10:09:27+00:00,1314.000000
12,12,1564818,zalando,Zalando SE,NaN,"Berlin, Dublin, Helsinki, Dortmund, Erfurt, Mö...",opensource@zalando.de,NaN,"The org page for Zalando, Europe's leading onl...",49,749,0,2012-03-22 14:47:53+00:00,749.000000
15,15,19247147,AnikSarker,Anik Sarker,GOOGLE,"Dublin, Ireland",aniksarkerbuet1997@gmail.com,NaN,"Software Engineer, Site Reliability Engineerin...",10,656,0,2016-05-08 05:16:59+00:00,656.000000
18,18,686511,wix,Wix.com,NaN,"Tel Aviv, Be'er Sheva, Haifa, Vilnius, Kyiv, D...",NaN,NaN,Open-sourcing useful pieces of code,19,562,0,2011-03-23 16:40:49+00:00,562.000000
28,28,45975229,CardinalHealth,Cardinal Health,NaN,"Dublin, OH",NaN,NaN,Cardinal Health,0,419,0,2018-12-18 16:30:57+00:00,419.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,380,980002,paulmcquad,Paul McQuade,SWORDSMAKERSPACE,"Dublin, Ireland",paulmcquad@gmail.com,True,"Joined GitHub\r\non August 15, 2011\r\n\r\n\r\...",194,63,444,2011-08-15 00:40:54+00:00,0.141573
188,188,4419532,oguzhane,Oguzhan Ergin,MICROSOFT,Dublin,NaN,NaN,softwarengineer @Azure,54,108,791,2013-05-13 17:15:41+00:00,0.136364
278,278,12008468,VitorNoVictor,Vitor Nunes,PINTEREST,"Dublin, Ireland",vitornovictor@gmail.com,NaN,"If not now, when?",13,79,624,2015-04-18 14:48:41+00:00,0.126400
121,121,919292,adastreamer,Eugene Khashin,ETLGR @CRYPTOPROCESSING @OOMAG @EMBILY,Wilmington US / Dublin / Singapore,adastreamer@gmail.com,NaN,¯\_(ツ)_/¯,69,151,1270,2011-07-16 10:02:35+00:00,0.118804
423,423,75629541,Cryt-Software,Cryt,CRYT,"Dublin, Ireland",NaN,NaN,Cryt is an Irish software development company ...,3,57,526,2020-12-07 15:46:37+00:00,0.108159

In [57]:
df.corr(numeric_only=True)

,Unnamed: 0,id,public_repos,followers,following,leader_strength
Unnamed: 0,1.000000,0.088543,-0.192796,-0.422548,-0.143439,-0.289255
id,0.088543,1.000000,-0.131394,-0.062507,0.056401,-0.021270
public_repos,-0.192796,-0.131394,1.000000,0.554930,0.190936,-0.038594
followers,-0.422548,-0.062507,0.554930,1.000000,0.071453,0.331658
following,-0.143439,0.056401,0.190936,0.071453,1.000000,-0.141389
leader_strength,-0.289255,-0.021270,-0.038594,0.331658,-0.141389,1.000000

# Question 10

In [58]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
# import statsmodels.api as sm

# Sample DataFrame
# users_df = pd.read_csv('your_data.csv')  # Load your data here

# Assuming users_df is your DataFrame with 'public_repos' and 'followers'
X = df[['public_repos']]
y = df['followers']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a Linear Regression model
model = LinearRegression()
model.fit(X, y)

# Predicting on the test set
# y_pred = model.predict(X_test)

# Getting the coefficient for public_repos
additional_followers_per_repo = model.coef_[0]

print(f'Estimated additional followers per additional public repository: {additional_followers_per_repo}')

Estimated additional followers per additional public repository: 2.8251872065964903

In [61]:
repo_df.corr(numeric_only=True)

                  Unnamed: 0  stargazers_count  watchers_count  has_wiki
Unnamed: 0          1.000000         -0.051009       -0.051009  0.001997
stargazers_count   -0.051009          1.000000        1.000000 -0.031545
watchers_count     -0.051009          1.000000        1.000000 -0.031545
has_wiki            0.001997         -0.031545       -0.031545  1.000000

In [63]:
df["hireable"].isna().sum()

np.int64(295)

In [66]:
df["hireable"].replace(True,"true",inplace=True)
df["hireable"].replace(False,"false",inplace=True)
df["hireable"].replace(np.nan,"",inplace=True)

C:\Users\Hitesh\AppData\Local\Temp\ipykernel_12004\2401510435.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["hireable"].replace(True,"true",inplace=True)
C:\Users\Hitesh\AppData\Local\Temp\ipykernel_12004\2401510435.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["hireable"].replace(False,"false",inplace=True)
C:\Users\Hitesh\AppData\Local\Temp\ipykernel_12004\2401510435.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["hireable"].replace(np.nan,"",inplace=True)

In [175]:
df[(df["hireable"]=="true")]["following"].mean()-df[(df["hireable"]!="true")]["following"].mean()

np.float64(47.40348295772024)

In [69]:
df["hireable"].value_counts()

hireable
        295
true    182
Name: count, dtype: int64

In [187]:
len(df)

477

In [188]:
(182/477)-((477-182)/477)

-0.2368972746331237

In [208]:
def biolen(column):
    l=[]
    for i in column:
        if i!= None:
            l.append(len(i.split(" ")))
        else:
            l.append(0)
        
    return l
lenth=biolen(df["bio"])
df["lenth"]=lenth

In [209]:
df.corr(numeric_only=True)

,id,public_repos,followers,following,leader_strength,lenth
id,1.000000,-0.131394,-0.062507,0.056401,-0.021270,0.182115
public_repos,-0.131394,1.000000,0.554930,0.190936,-0.038594,-0.017292
followers,-0.062507,0.554930,1.000000,0.071453,0.331658,0.130259
following,0.056401,0.190936,0.071453,1.000000,-0.141389,0.026629
leader_strength,-0.021270,-0.038594,0.331658,-0.141389,1.000000,0.057952
lenth,0.182115,-0.017292,0.130259,0.026629,0.057952,1.000000

In [212]:
bio=pd.DataFrame()
bio["followers"]=df["followers"]
bio["lenth"]=df["lenth"]
bio.dropna(inplace=True)
model = LinearRegression()
model.fit(pd.DataFrame(bio["lenth"]), bio["followers"])

# Predicting on the test set
# y_pred = model.predict(X_test)

# Getting the coefficient for public_repos
additional_followers_per_repo = model.coef_[0]

In [213]:
additional_followers_per_repo

np.float64(6.737136478923124)

In [70]:
df.to_csv("users.csv")

In [133]:
Companies_List = df['company'].dropna().str.split('@')

In [135]:
# Companies_List=Companies_List.astype("str")
# Companies_List[56]

In [137]:
# for i in Companies_List[56]:
#     print(i)

# Question 4

In [154]:
Dict={}
for user in Companies_List:
    if type(user) != "float":
        # print(user)
        for company in user:
            if type(company)!= "float":
                if company in Dict:
                    Dict[company]+=1
                else:
                    Dict[company]=1
cdf=pd.Series(Dict)

cdf

In [165]:
cdf["MICROSOFT"]

np.int64(18)

In [167]:
repo_df["has_wiki"].replace(True,"true",inplace=True)
repo_df["has_wiki"].replace(False,"false",inplace=True)
repo_df["has_wiki"].replace(np.nan,"",inplace=True)

C:\Users\Hitesh\AppData\Local\Temp\ipykernel_12004\820156131.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  repo_df["has_wiki"].replace(True,"true",inplace=True)

In [171]:
repo_df["has_wiki"].replace("None","",inplace=True)

In [173]:
repo_df["has_wiki"].value_counts()

has_wiki
true     24574
false     4141
Name: count, dtype: int64

In [174]:
repo_df.to_csv("repositories.csv")

In [181]:
names = df['name'].dropna().str.split(' ')

In [206]:
name_dict={}
count=0
for name in names:
    print(count)
    count+=1
    print(name)
    if name[-1] not in name_dict:
        name_dict[name[-1]]=1
    else:
        name_dict[name[-1]]+=1

0
['Orta', 'Therox']
1
['Jerome', 'Etienne']
2
['Jonny', 'Borges']
3
['Steven', 'Troughton-Smith']
4
['Alex', 'Beregszaszi']
5
['Luciano', 'Mammino']
6
['Flavio', 'Henrique', 'de', 'Souza', 'Almeida']
7
['Seyed', 'Naser', 'RAZAVI']
8
['Filipe', 'Silva']
9
['Afshin', 'Mehrabani']
10
['Rafal', 'Janicki']
11
['Guilherme', 'Branco', 'Stracini']
12
['Zalando', 'SE']
13
['Chirag', 'Shah']
14
['Derek', 'Molloy']
15
['Anik', 'Sarker']
16
['Xin', 'Du', '(Clark)']
17
['Flávio', 'Mendes']
18
['Wix.com']
19
['Ahmed', 'Mohamed']
20
['Xiaokang', 'Wang', '(Shelikhoo)']
21
['Gregory', 'Pacheco']
22
['Kracekumar']
23
['Ram']
24
['Ashwin', 'Poefra']
25
['Sadlil', 'Rhythom']
26
['Juarez', 'Filho']
27
['Miklos', 'Horvath']
28
['Cardinal', 'Health']
29
['Andy']
30
['Marco', 'Rougeth']
31
['Nana', '']
32
['Abhi', 'Bisht']
33
['Pedro', 'Paulo', 'Amorim']
34
['Timmy', "O'Mahony"]
35
['Mina', 'Ashraf']
36
['Igor', 'Brigadir']
37
['Tony', 'Redmond']
38
['Max', 'Pronko']
39
['Ciarán', 'McNally']
40
['Abderrahim', 'SOUBAI-ELIDRISI']
41
['Guilherme', 'Oenning']
42
['LotteMakesStuff']
43
['Rafael', 'Chinelato', 'del', 'Nero']
44
['Matt']
45
['Mahdi', 'Dibaiee']
46
['Stephan', 'Hügel']
47
['Omar', 'Abdelhafith']
48
['Aaron', 'Clauson']
49
['Gabriel', 'Schade']
50
['Zorin', 'OS']
51
['AI', 'Summer']
52
['Göksel', 'Köksal']
53
['Mario', 'Casciaro']
54
['Mark', 'Regan']
55
['Anton', 'Gerdelan']
56
['Abhishek', 'Hegde']
57
['Ricardo', 'Luz']
58
['Ricardo', 'Bánffy']
59
['Utkarsh', 'Gupta']
60
['Bora', 'M.', 'Alper']
61
['Howard']
62
['Michele', 'Cattafesta']
63
['Yasuhiro', 'Yamada']
64
['Sahil', 'Bondre']
65
['Mihai', 'Todor']
66
['Stephen', '♔', 'Ó', 'Conchubhair']
67
['Ben', 'McMahon']
68
['Greg', 'Chapple']
69
['Damien', 'Farrell']
70
['Ciara', 'McGuire']
71
['Ahmed', 'Abdelazeem']
72
['Sameer', 'Rahmani']
73
['Mehmet', 'Kose']
74
['Amir', 'M.', 'Saeid']
75
['Paul', 'Campbell']
76
['Simone', 'Marzulli', 'or', 'simply', '/^syx.*$/']
77
['Mike', 'Brady']
78
['Aemie', 'Jariwala']
79
['Ranga', 'Vadhineni']
80
['Kris', 'foster']
81
['Matt', 'Rudge']
82
['Intercom']
83
['Matt', 'Donnelly']
84
['Alex', 'Martinelli']
85
['Gavin', 'Joyce']
86
['Cesanta', 'Software']
87
['Alexsandro', 'Souza']
88
['Nayeon', 'Ryann', 'Keum']
89
['Anton', 'Whalley']
90
['Marek', 'Dano']
91
['Flavien', 'Charlon']
92
['David', 'Gonzalez']
93
['Ivan', 'Smirnov']
94
['Carlos', 'Augusto']
95
['Oscar', 'Campos']
96
['Kassio', 'Borges']
97
['Angelo', 'Failla']
98
['Kevin', 'Heavey']
99
['Alexey', 'Sokolov']
100
['Esther', 'Olatunde']
101
['Thiago', 'Kenji', 'Okada']
102
['Colm', 'Doyle']
103
['Stephen', 'Connolly']
104
['Mehdi', 'El', 'Gueddari']
105
['Dan', 'Kerimdzhanov']
106
['Ali', 'Vakilzade']
107
['Deomid', 'Ryabkov']
108
['Deep', 'Bhattacharyya']
109
['Donovan', 'Hutchinson']
110
['Maxim', 'Bublis']
111
['Pamir']
112
['Dmitry', 'Verkhoturov']
113
['Cassiano', 'Aquino']
114
['Maxime', 'David']
115
['Raony', 'Guimaraes']
116
['Brian', 'Quinn']
117
['Saeed', 'Misaghian', '(SaM)']
118
['Csergő', 'Bálint']
119
['Cassio', 'Mazzochi', 'Molin']
120
['Morgan', 'McGuire']
121
['Eugene', 'Khashin']
122
['Steffen', 'Müller']
123
['Thom', 'Troy']
124
['Chris', 'Dermody']
125
['Yasmin', 'Moslem']
126
['Sergii', 'Ivashchenko']
127
['The', 'Zalando', 'Incubator']
128
['Karl', 'Matthias']
129
['Andrew', 'Parnell']
130
['cybercoder']
131
['Ruben', 'Bartelink']
132
['Ankit', 'Rohatgi']
133
['Raul', 'Portales']
134
['Diego', 'Barreiro', 'Perez']
135
['Eddie', 'Antonio', 'Santos']
136
['Thang-Long', 'Nguyen-Ho']
137
['Cathal', 'McCabe']
138
['Moses', 'Esan']
139
['Niall', 'Maher']
140
['Lucas', 'Souza']
141
['George', 'Berezhnoy']
142
['Isabella', 'Souzas']
143
['Rita', 'Okonkwo']
144
['Eugene', 'Kenny']
145
['Bakhtiyar', 'Syed']
146
['Aviral', 'Dasgupta']
147
['Adrian', 'Rossouw']
148
['Chris', 'Hokamp']
149
['Arash', 'Mousavi']
150
['Sen', 'Yang']
151
['Adam', 'Kelly']
152
['Samuel', 'Henrique']
153
['Júlia', 'Finassi']
154
['Arthit', 'Suriyawongkul']
155
['Diona', 'Rodrigues']
156
['Matiss', 'Janis', 'Aboltins']
157
['David', 'Laing']
158
['Eric', 'Moynihan']
159
['Arne', 'Vansteenkiste']
160
['Kiall', 'Mac', 'Innes']
161
['Eric', 'Bowman']
162
['Shane', "O'Sullivan"]
163
['Victor', 'Ikechukwu']
164
['Jalal', 'azimi']
165
['Paul', 'Bourke']
166
['Ivan', 'G.']
167
['Jos']
168
['Marlon', 'Bernardes']
169
['Badhan', 'Sen']
170
['Arthur', 'Diniz']
171
['Junior', 'Torres']
172
['Phúc', 'H.', 'Lê', 'Khắc']
173
['Aditya', 'Gupta']
174
['Rónán', 'Carrigan']
175
['Arijit']
176
['Chenyang', 'Lyu']
177
['Karan', 'Alves', 'Pereira']
178
['Fábio', 'Theophilo']
179
['Geoff', 'Natin']
180
['Elise', 'Landman']
181
['Mohammad', 'Efazati']
182
['Jon', 'Hanna']
183
['Albert']
184
['Felipe', 'Ramos', 'da', 'Silva']
185
['Darth', 'Joker']
186
['Massimiliano', 'Pronesti']
187
['Oguzhan', 'Ergin']
188
['John', 'McClean']
189
['Matthew', 'Henry']
190
['Dongfang', 'Qu']
191
['James', 'McDermott']
192
['Mathieu', 'BUISSON']
193
['Rohan', 'Taneja']
194
['InvizBox']
195
['Sibeesh', 'Venu']
196
['Alex']
197
['Gustavo', 'Pagani']
198
['Joshua', 'Cassidy']
199
['Claudine', 'Callaghan']
200
['Dhruv', 'Arora']
201
['Kieran', "O'Leary"]
202
['Le-Nam', 'Tran']
203
['Akash', 'Murthy']
204
['Seán']
205
['Mingjie', 'Shao']
206
['Andrew', 'Jackson']
207
['Rodolpho', 'Eckhardt']
208
['Seagoose']
209
['Stephen', 'Howell', '(MSFT)']
210
['Manab', 'Biswas']
211
['Théo']
212
['Hosein', 'Emrani']
213
['Eduardo', 'Bruno']
214
['Mick', 'Cooney']
215
['Conor', 'Mongey']
216
['Maycon', 'Cardoso']
217
['Edmundo', 'Santos']
218
['Simone', 'Mosciatti']
219
['Nebojša', 'Cvetković']
220
['Brian', 'Gitonga', 'Marete']
221
['John', 'Glover']
222
['Jason', 'Gilmore']
223
['Minh-Khoi', 'Pham']
224
['Volodymyr', 'B.']
225
['Hamed', 'R.', 'Nik']
226
['Chinmay', 'Rane']
227
['Marco', 'Lampis']
228
['Raúl', 'Pera', 'Pairó']
229
['Jonathan', 'Schweder']
230
['Marc', "O'Morain"]
231
['Dave', 'Earley']
232
['Carlos', 'Carvallo']
233
['Tom', 'Barlow']
234
['Edgar', 'Zavala']
235
['Rory', 'Hughes']
236
['Mark', 'Deegan']
237
['Dominykas', 'Blyžė']
238
['Jordi']
239
['Luke', 'McGuinness']
240
['Bill', 'de', 'hÓra']
241
['Andrew', 'Maguire']
242
['Ivan', 'Mushketyk']
243
['Tim', 'Wilson']
244
['Dmitrii', 'Okunev']
245
['Jason', 'Rogena']
246
['Kishore', 'Yekkanti']
247
['Ruben', 'Vicario', 'Gonzalez']
248
['Mev-Rael']
249
['Ronan', 'McGovern']
250
['Katie', 'Chapman']
251
['Zetian', 'Lin']
252
['Efe', 'Budak']
253
['Md', 'Abdul', 'Munim']
254
['Olga', 'Ustiuzhanina']
255
['hasan', 'genc']
256
['Conor', "O'Sullivan"]
257
['EROUI', 'Abdelaziz']
258
['Krinkin,', 'Mike']
259
['Cian', 'Butler']
260
['Rajit', 'Banerjee']
261
['Martin', 'Micunda']
262
['Jack', 'Sheehy']
263
['Vlad']
264
['Amine', 'Remache']
265
['Gianluca']
266
['Fernando']
267
['Araf', 'Al', 'Jami']
268
['Loyanne', 'Cristine', '']
269
['Varol', 'Aksoy']
270
['Hugh', 'Nowlan']
271
['Paul', 'S.']
272
['Beatriz', 'Carmona', 'Jurado']
273
['mparaiso']
274
['Khalil']
275
['Sergey', 'Beryozkin']
276
['Vitor', 'Nunes']
277
['John', 'Harrison']
278
['Keith', 'Gaughan']
279
['James', 'Crook']
280
['Aleksandar', 'Topuzović']
281
['Md.', 'Khairullah', 'Gaurab']
282
['Alex', 'Gascón']
283
['William', 'Kennedy']
284
['Soumyabrata', 'Dev']
285
['Valentin', 'Hăloiu']
286
['Guido']
287
['Ismael', 'Gomez']
288
['John', 'Brett']
289
['Théo', 'Morales']
290
['Jake', 'Grogan']
291
['Drew', 'Furgiuele']
292
['Hildebrando', 'Viana', 'Matos']
293
['Ayrat', 'Hudaygulov']
294
['Daniel']
295
['Fintan', 'Halpenny']
296
['Jeethu', 'Rao']
297
['Tommy']
298
['Dmitri', 'Zaitsev']
299
['Ciarán', 'Hanrahan']
300
['Eoin', 'Brazil']
301
['Oisín', 'Hurley']
302
['Lalit', 'Kale']
303
['Luca', 'Bruno']
304
['Heber', 'Ortiz', 'Pereira']
305
['Evandro', 'Flores']
306
['Yumin', 'Chen']
307
['Alexis', 'Hrysiewicz']
308
['Erich', 'Douglass']
309
['Catalina']
310
['Wei-Yu', 'Chen']
311
['Giacomo', 'Rebonato']
312
['inversify']
313
['Mike', 'Makarov']
314
['Rafael', 'Câmara']
315
['Barros']
316
['Thibault', 'Deutsch']
317
['Anirudh', 'Sharma']
318
['Anthony', 'Bloomer']
319
['John', 'Paul', 'Hayes']
320
['Yoni', 'Lavi']
321
['Amanur', 'Rahman']
322
['Emily', 'Banerjee']
323
['Gordon', 'Knoppe']
324
['Christoph', 'Koerner']
325
['Bekir', 'Dogan']
326
['Paul', 'Mooney']
327
['Dinesh', 'Rathee']
328
['Henrique', 'Leal']
329
['Lais', 'Carvalho']
330
['Skyper']
331
['Tom', 'Maher']
332
['sachin', 'soman']
333
['William', 'Lepinski']
334
['Mark', 'Collier']
335
['Samuel', 'Sampaio']
336
['Maggie', 'Danger']
337
['Henna', 'Singh']
338
['Alvis', 'Duong']
339
['Filippo', 'Mariotti']
340
['Dominic']
341
['David', 'Funaro']
342
['Artyom', 'Zorin']
343
['Rui', 'Figueiredo']
344
['Diego', 'Cardozo']
345
['Mihai', 'Criveti']
346
['Piotr', 'Justyna']
347
['Amilcar', 'Aponte']
348
['Ilia', 'Kuznetsov']
349
['Ketan', 'Bhatt']
350
['Jonathan', 'Cremin']
351
['Conor', 'Broderick']
352
['Bruno', 'Ricardo', 'Siqueira']
353
['Panagiotis', 'Kostopanagiotis']
354
['Stefan', 'Müller']
355
['Thomas', 'Shaw']
356
['Siddhesh', 'Bangar']
357
['Ramindu', 'Deshapriya']
358
['David', 'Tuite']
359
['Stephen', 'Coogan']
360
['Hirotaka', 'Tagawa', '/', 'wafuwafu13']
361
['Yannick', 'Gloster']
362
['Oscar', 'Arbeláez-Echeverri']
363
['沐']
364
['Henrique', 'Conte']
365
['John', 'Kommala']
366
['Brian', 'Kenny']
367
['Edward', 'Njoroge']
368
['Luke', 'Hackett']
369
['Artur', 'Martins']
370
['Paulina', 'Czarnota']
371
['Shane', 'Curran']
372
['James', 'Peres']
373
['Gary', 'Rafferty']
374
['Kristy', 'Marcinova']
375
['Yigit', 'Varli']
376
['Paul', 'McQuade']
377
['Rafa', 'Pagés']
378
['Jose', 'Narvaez']
379
['Lucas', 'Reinaldo', 'de', 'Melo']
380
['Brian', 'Lai']
381
['Lexes', 'Jan', 'Mantiquilla']
382
['Duncan', 'Jones']
383
['Alexey', 'Derbyshev']
384
['Caoimhe', 'Cooney']
385
['luben', 'karavelov']
386
['Colm', 'O', 'hEigeartaigh']
387
['Stephen', 'Kelly']
388
['Mario', 'Ruiz']
389
['Kesego', 'Mokgosi']
390
['Alessandro', 'Diaferia']
391
['Andrea', 'Giuliano']
392
['Regis', 'David', 'Souza', 'Mesquita']
393
['Brian', 'Kenny']
394
['Peter', 'Meehan']
395
['Ivan', 'Vučica']
396
['Jack', "O'Sullivan"]
397
['B00177258']
398
['François', 'Pitié']
399
['Ogan', 'Belema']
400
['Rebecca', 'Tracey-Timoney']
401
['Chris', 'Hegarty']
402
['Deepak', 'Mohandas']
403
['Igor', 'Elovikov']
404
['Gytis', 'Daujotas']
405
['Moises', 'Trovo']
406
['George', 'Dyrrahitis']
407
['Declan', 'Murphy']
408
['Gopi', 'Vishwakarma']
409
['Martin', 'von', 'Gagern']
410
['Rohan', 'Jaswal']
411
['Paul', 'McCann']
412
['Madjda', 'Zerrouk']
413
['Juan', 'Nunes']
414
['gutohmm@outlook.com']
415
['Alexandre', 'Passant']
416
['Ken', 'Guest']
417
['Cryt']
418
['Kristof', 'Jakab']
419
['Juanjo']
420
['Myungbin', 'Son']
421
['Chico', 'Charlesworth']
422
['Scott', 'Condron']
423
['ben']
424
['Alan', 'Abraham']
425
['Pedro', 'Araujo']
426
['ADARSH', 'C']
427
['Minkun', 'Kim']
428
['Thibaud', 'Rohmer']
429
['Liubov', 'Talamanova', '']
430
['Stephen', 'Barrett']
431
['Marcus', 'Lee']
432
['Brian', 'Di', 'Palma']
433
['Fabrizio', 'Fortunato']
434
['Ciaran', 'Lee']
435
['Adrian', 'Sadłocha']
436
['Allen', 'Thomas', 'Varghese']
437
['Alan', 'Maguire']
438
['Alexandre', 'Malavasi']
439
['Patrick', "O'Rourke"]
440
['Adrian', 'Smith']
441
['Shaun', "O'Neill"]
442
['Chao', 'Chen']
443
['Jaime', 'Buelta']
444
['Sergio', 'Cioban', 'Filho']
445
['Prakhar', 'Gurawa']
446
['Matheus', 'Pimenta']
447
['Stephen', 'Crane']
448
['Maxi', 'Gimenez']
449
['Henrique', 'Marques']
450
['Shane']
451
['prakash', 'jha']
452
['fth']
453
['Mick', 'Crosse']
454
['Hakan']
455
['Hendrik', 'Saly']
456
['Güner', 'Kaan', 'Alkım']
457
['Hieu', 'Nguyen']
458
['Ciarán', 'Flanagan']
459
['Xavier', 'Fontes']
460
['Stuart', 'Chaney']
461
['王印', '(eoin)']
462
['Markos', 'Horro']
463
['Pat', 'Quinn']
464
['Chris', 'Quinn']
465
['Omar', 'Balih']
466
['Jamie']
467
['Carolina', 'Cobo']
468
['Goncalo', 'Gomes']
469
['Nakita', 'McCool']

In [210]:
for i in name_dict:
    if name_dict[i]==3:
        print(i)

Quinn
Kenny
O'Sullivan
Chen

In [214]:
repo_df['created_at']=pd.to_datetime(repo_df['created_at'])

In [217]:
repo_df['Is_Weekend'] = repo_df['created_at'].dt.dayofweek

In [220]:
repo_df[repo_df['Is_Weekend']>=5]["login"].value_counts()

login
orta             132
joshuacassidy    130
No9              125
wafuwafu13        99
lmammino          98
                ...
Th3T3chn0G1t       1
igor-elovikov      1
12Knocksinna       1
rafapages          1
esjmb              1
Name: count, Length: 453, dtype: int64